{
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "standard/array-bracket-even-spacing": 0,
    "standard/computed-property-even-spacing": 0,
    "standard/object-curly-even-spacing": 0,
    "generator-star-spacing":["error", {"before": false, "after": true}],
    "curly": [
      "error",
      "all"
    ],
    "no-console": "error",
    "no-var": "error",
    "import/no-duplicates": 2,
    "import/no-unresolved": 2,
    "import/namespace": [
      2,
      {
        "allowComputed": true
      }
    ],
    "no-return-await": "error",
    "space-before-function-paren": 0,
    "no-eval": 0,
    "@typescript-eslint/no-explicit-any": "off"
  }
}
