{
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest",
    "typescript"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "standard/array-bracket-even-spacing": 0,
    "standard/computed-property-even-spacing": 0,
    "standard/object-curly-even-spacing": 0,
    "generator-star-spacing":["error", {"before": false, "after": true}],
    "curly": [
      "error",
      "all"
    ],
    "no-console": "error",
    "no-var": "error",
    "import/no-duplicates": 2,
    "import/no-unresolved": 2,
    "import/namespace": [
      2,
      {
        "allowComputed": true
      }
    ],
    "no-return-await": "error",
    "space-before-function-paren": 0,
    "no-eval": 0
  },
  "overrides": {
    "files": ["**/*.ts"],
    "parser": "typescript-eslint-parser",
    "rules": {
      "no-undef": 0,
      "typescript/no-unused-vars": 2,
      "typescript/class-name-casing": 2
    }
  }
}
